#### Initial Set Up

In [1]:
# Import libraries
import pandas as pd
import warnings
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
warnings.filterwarnings('ignore')

# Remove dataFrame display size restrictions
#pd.set_option("display.max_rows", None, "display.max_columns", None)

In [2]:
# Create file path
manhattan_path = "Resources/manhattan_sales.csv"
bronx_path = "Resources/bronx_sales.csv"
staten_island_path = "Resources/staten_island_sales.csv"
queens_path = "Resources/queens_sales.csv"
brooklyn_path = "Resources/brooklyn_sales.csv"

# Read in files
manhattan = pd.read_csv(manhattan_path)
bronx = pd.read_csv(bronx_path)
staten_island = pd.read_csv(staten_island_path)
queens = pd.read_csv(queens_path)
brooklyn = pd.read_csv(brooklyn_path)

# Grab original dimensions before clean
manhattan_rows = len(manhattan)
bronx_rows = len(bronx)
staten_island_rows = len(staten_island)
queens_rows = len(queens)
brooklyn_rows = len(brooklyn)

print(f' Total Sales (rows) in Manhattan dataset Prior to Merge/Clean: {manhattan_rows}')
print(f' Total Sales (rows) in Staten Island dataset Prior to Merge/Clean: {staten_island_rows}')
print(f' Total Sales (rows) in The Bronx dataset Prior to Merge/Clean: {bronx_rows}')
print(f' Total Sales (rows) in The Queens dataset Prior to Merge/Clean: {queens_rows}')
print(f' Total Sales (rows) in The Brooklyn dataset Prior to Merge/Clean: {brooklyn_rows}')

 Total Sales (rows) in Manhattan dataset Prior to Merge/Clean: 11029
 Total Sales (rows) in Staten Island dataset Prior to Merge/Clean: 5728
 Total Sales (rows) in The Bronx dataset Prior to Merge/Clean: 3936
 Total Sales (rows) in The Queens dataset Prior to Merge/Clean: 18075
 Total Sales (rows) in The Brooklyn dataset Prior to Merge/Clean: 11091

#### Merge

In [3]:
# Create list of csvs 
list_boroughs = [manhattan, bronx, staten_island, queens, brooklyn] 

# Join using concat( ) function
df = pd.concat(list_boroughs,ignore_index=True)

In [4]:
# Display original dimensions of dataframe pre-clean
orig_rows = len(df)
orig_columns = len(df.columns) 
print(f' Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_rows}') 
print(f' Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_columns}')

 Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: 49859
 Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: 41

#### Clean Up

In [5]:
# Display columns before transformation process
df.columns

Index(['Address', 'Building Name', 'Neighborhood', 'City',
       'Price (Last Known)', 'PPSF', 'R', 'Bd', 'Total Ba', 'MLS Ba',
       'Full Ba', 'HBa', 'Sq Ft', 'Monthly Fees', 'Monthly Fees & Taxes',
       'Taxes Per Mo.', 'MLS Property Type', 'MLS Property Subtype',
       'Compass Property Type', 'Status', 'DOM', 'Updated Date', 'Listed Date',
       'Listed Price', 'Last Asking', 'Contract Date', 'Sold Price',
       'Closed Price Verification', 'Sold Date', 'Open House',
       'Open House Type', 'ZIP', 'Latitude', 'Longitude', 'Building Size',
       'Lot Size', 'Outdoor Space', 'Year Built', 'Service Level',
       'Building Units', 'Notes'],
      dtype='object')

In [6]:
# Drop irrelevant columns
df = df.loc[:, ['Address', 'Neighborhood', 'City',
       'Bd','MLS Ba','DOM', 'Listed Price', 'Sold Price','Sold Date', 'ZIP', 'Latitude', 'Longitude', 'Year Built']]  

clean_columns01 = len(df.columns)

print(f' Total fields (columns) in The New York City Real Estate dataset after dropping columns: {clean_columns01}')

 Total fields (columns) in The New York City Real Estate dataset after dropping columns: 13

In [7]:
df.columns

Index(['Address', 'Neighborhood', 'City', 'Bd', 'MLS Ba', 'DOM',
       'Listed Price', 'Sold Price', 'Sold Date', 'ZIP', 'Latitude',
       'Longitude', 'Year Built'],
      dtype='object')

In [8]:
# Rename columns
df.rename(columns={'Address': 'address', 'Building Name': 'building_name', 'Neighborhood': 'neighborhood', 
                              'City': 'borough', 'Bd': 'bed', 'MLS Ba': 'bath',
                              'DOM': 'days_on_market', 'Listed Date': 'listed_date',
                              'Listed Price': 'listed_price', 'Sold Price': 'sold_price', 'Sold Date': 'sold_date',
                              'Latitude': 'lat', 'Longitude': 'long',
                              'ZIP': 'zipcode','Year Built': 'year_built'}, inplace=True)

In [9]:
df

,address,neighborhood,borough,bed,bath,days_on_market,listed_price,sold_price,sold_date,zipcode,lat,long,year_built
0,"219 W 14th St, Unit 2F",Chelsea,Manhattan,1,2.0,75,"$1,700,000","$1,646,000",1/29/20,10011.0,40.7465,-74.0094,1900.0
1,"315 W 70th St, Unit 6A",Upper West Side,Manhattan,1,1.0,60,"$799,000","$799,000",1/16/20,10023.0,40.7769,-73.9801,1963.0
2,"306 W 100th St, Unit 56",Upper West Side,Manhattan,1,1.0,122,"$699,000","$670,000",2/3/20,10025.0,40.7999,-73.9683,1940.0
3,"38 W 9th St, Unit 1",Greenwich Village,Manhattan,2,3.5,72,"$2,750,000","$2,175,000",2/4/20,10011.0,40.7465,-74.0094,1900.0
4,"48 W 86th St, Unit 2",Upper West Side,Manhattan,2,2.5,134,"$2,499,999","$2,333,000",1/6/20,10024.0,40.7859,-73.9742,1900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49854,"50 Brighton 1st Rd, Unit 8B",Brighton Beach,Brooklyn,NaN,NaN,NaN,NaN,"$435,000",12/15/20,11235.0,40.5860,-73.9419,NaN
49855,2831 Brighton 4th St,Brighton Beach,Brooklyn,8,NaN,NaN,NaN,"$800,000",12/22/20,11235.0,40.5860,-73.9419,1940.0
49856,2743 Brighton 7th St.,Brighton Beach,Brooklyn,8,4.0,NaN,NaN,"$940,000",12/9/20,11235.0,40.5860,-73.9419,1930.0
49857,"105 Oceana Dr E, Unit 5H",Brighton Beach,Brooklyn,2,2.0,32,"$975,000","$850,000",12/14/20,11235.0,40.5860,-73.9419,2002.0
49858,"75 Oceana Dr E, Unit 4G",Brighton Beach,Brooklyn,NaN,NaN,NaN,NaN,"$795,000",12/23/20,11235.0,40.5860,-73.9419,2002.0

In [10]:
# Extract only 2020 sales data
#df['sold_date'].astype(str)
df = df[df['sold_date'].str.contains("/20", na=False)]

only_20 = len(df)
print(f' Total fields (columns) in The New York City Real Estate dataset after filtering to 2020: {only_20}')

 Total fields (columns) in The New York City Real Estate dataset after filtering to 2020: 36177

In [11]:
# Drop all rows where zipcode equals NaN
df = df.dropna(subset=['zipcode'])

rows_after_zipcode = len(df)
print(f'After removing all rows with a NaN value under zipcode column, there were {rows_after_zipcode} rows (sold listings) remaining')

After removing all rows with a NaN value under zipcode column, there were 36050 rows (sold listings) remaining

In [12]:
# Drop all rows where sold price equals NaN
df = df.dropna(subset=['sold_price'])

rows_after_soldprice = len(df)
print(f'After removing all rows with a NaN value under sold price column, there were {rows_after_soldprice} rows (sold listings) remaining')

After removing all rows with a NaN value under sold price column, there were 35315 rows (sold listings) remaining

In [13]:
# In bed column, replace 'Studio' + Alcove with '0'
df['bed'] = df['bed'].str.replace('Studio', '0')
df['bed'] = df['bed'].str.replace('Alcove', '0')

In [14]:
# Change all string column values to lower case
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [15]:
# Update incorrect borough names
df['borough'] = df['borough'].str.replace('the bronx', 'bronx')
df['borough'] = df['borough'].str.replace('richmond', 'staten island')
df['borough'] = df['borough'].str.replace('s. ozone park', 'queens')
df['borough'] = df['borough'].str.replace('kew gardens', 'queens')
df['borough'] = df['borough'].str.replace('kew gardens', 'queens')

# Drop records outside of NYC
df = df[~df.borough.str.contains("out of area town")]

df['borough'].value_counts()

queens           14087
brooklyn         11026
staten island     5105
bronx             3519
manhattan         1567
Name: borough, dtype: int64

In [16]:
# Fill all blank values in DOM field with average days (105)
df['days_on_market'] = df['days_on_market'].replace(r'^\s*$', np.nan, regex=True)
df['days_on_market'] = df['days_on_market'].fillna('105')

In [17]:
# Convert any bath field values less than 1 to 1
df['bath'].values[df['bath'].values < 1] = 1

In [18]:
df.dtypes

address            object
neighborhood       object
borough            object
bed                object
bath              float64
days_on_market     object
listed_price       object
sold_price         object
sold_date          object
zipcode           float64
lat               float64
long              float64
year_built        float64
dtype: object

#### Convert datatypes

In [19]:
# Remove decimal and zero from string 
df['zipcode'] = df['zipcode'].astype(str).replace('\.0', '', regex=True)
df['year_built'] = df['year_built'].astype(str).replace('\.0', '', regex=True)

In [20]:
# Convert listed date, sold date and year built to datetime
df.year_built = pd.to_datetime(df.year_built, format='%Y')
df.sold_date = pd.to_datetime(df.sold_date, format='%m/%d/%y')


# Convert days on market columns to floats
df['days_on_market'] = df['days_on_market'].str.replace(',', '') # Removes commas from any properties on the market for 1000+ days
df['days_on_market'] = pd.to_numeric(df['days_on_market'])

In [21]:
# Convert bath and dom column to float
df['bed'] = df.bed.astype(float)
#df['bath'] = df.bath.astype(float)
df['days_on_market'] = df.days_on_market.astype(float)

In [22]:
# Remove commas and dollar signs from sold price listed price and convert to float
df['sold_price'] = df['sold_price'].str.replace('$', '')
df['sold_price'] = df['sold_price'].str.replace(',', '')
df['sold_price'] = pd.to_numeric(df['sold_price'])

df['listed_price'] = df['listed_price'].str.replace('$', '')
df['listed_price'] = df['listed_price'].str.replace(',', '')
df['listed_price'] = pd.to_numeric(df['listed_price'])

In [23]:
# Drop all rows where sold price is less than 10,000
df = df[df['sold_price'] > 10000]  

morethan10k = len(df)
print(f'After removal of sales recorded as less than 10k to account for rentals incorrectly inputted in there were {morethan10k} rows (sold listings) remaining')

After removal of sales recorded as less than 10k to account for rentals incorrectly inputted in there were 35295 rows (sold listings) remaining

In [24]:
#df['sold_price'].min() 
#df['borough'].value_counts()
df.dtypes
df

,address,neighborhood,borough,bed,bath,days_on_market,listed_price,sold_price,sold_date,zipcode,lat,long,year_built
0,"219 w 14th st, unit 2f",chelsea,manhattan,1.0,2.0,75.0,1700000.0,1646000,2020-01-29,10011,40.7465,-74.0094,1900-01-01
1,"315 w 70th st, unit 6a",upper west side,manhattan,1.0,1.0,60.0,799000.0,799000,2020-01-16,10023,40.7769,-73.9801,1963-01-01
2,"306 w 100th st, unit 56",upper west side,manhattan,1.0,1.0,122.0,699000.0,670000,2020-02-03,10025,40.7999,-73.9683,1940-01-01
3,"38 w 9th st, unit 1",greenwich village,manhattan,2.0,3.5,72.0,2750000.0,2175000,2020-02-04,10011,40.7465,-74.0094,1900-01-01
4,"48 w 86th st, unit 2",upper west side,manhattan,2.0,2.5,134.0,2499999.0,2333000,2020-01-06,10024,40.7859,-73.9742,1900-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49854,"50 brighton 1st rd, unit 8b",brighton beach,brooklyn,NaN,NaN,105.0,NaN,435000,2020-12-15,11235,40.5860,-73.9419,NaT
49855,2831 brighton 4th st,brighton beach,brooklyn,8.0,NaN,105.0,NaN,800000,2020-12-22,11235,40.5860,-73.9419,1940-01-01
49856,2743 brighton 7th st.,brighton beach,brooklyn,8.0,4.0,105.0,NaN,940000,2020-12-09,11235,40.5860,-73.9419,1930-01-01
49857,"105 oceana dr e, unit 5h",brighton beach,brooklyn,2.0,2.0,32.0,975000.0,850000,2020-12-14,11235,40.5860,-73.9419,2002-01-01
49858,"75 oceana dr e, unit 4g",brighton beach,brooklyn,NaN,NaN,105.0,NaN,795000,2020-12-23,11235,40.5860,-73.9419,2002-01-01

#### Create a classification using IQR for Days on Market

In [25]:
# Calculate IQR for Days on Market 

Q1 = df['days_on_market'].quantile(0.25)
Q2 = df['days_on_market'].quantile(0.50)
Q3 = df['days_on_market'].quantile(0.75)
IQR = Q3 - Q1
print(f'IQR for days on market: {IQR}')
    
# Find upper and lower bounds to help identify outliers for each regimen
lower_bound = Q1 - (1.5*IQR)
upper_bound = Q3 + (1.5*IQR)
print(f'Lower Bound for days on market: {lower_bound}')
print(f'Upper Bound for days on market: {upper_bound}')    
print(Q2)

outliers_excluded_df = df[(np.abs(st.zscore(df['days_on_market'])) < 3)]
max_days_without_outlier = outliers_excluded_df['days_on_market'].max()
print(max_days_without_outlier)
max_days_with_outlier = df['days_on_market'].max()
print(max_days_with_outlier)

IQR for days on market: 55.0
Lower Bound for days on market: -32.5
Upper Bound for days on market: 187.5
105.0
388.0
3140.0

In [26]:
# Create bins to hold values
ranges = [0, 55, 105, 188, 388, 3140]

# Label the bins
bin_names = ["<55", "55-105", "105-188", "188-388", "388-3140"]

# Add a bins column 
df["dom_ranges"] = pd.cut(df['days_on_market'], ranges, labels=bin_names)

df

,address,neighborhood,borough,bed,bath,days_on_market,listed_price,sold_price,sold_date,zipcode,lat,long,year_built,dom_ranges
0,"219 w 14th st, unit 2f",chelsea,manhattan,1.0,2.0,75.0,1700000.0,1646000,2020-01-29,10011,40.7465,-74.0094,1900-01-01,55-105
1,"315 w 70th st, unit 6a",upper west side,manhattan,1.0,1.0,60.0,799000.0,799000,2020-01-16,10023,40.7769,-73.9801,1963-01-01,55-105
2,"306 w 100th st, unit 56",upper west side,manhattan,1.0,1.0,122.0,699000.0,670000,2020-02-03,10025,40.7999,-73.9683,1940-01-01,105-188
3,"38 w 9th st, unit 1",greenwich village,manhattan,2.0,3.5,72.0,2750000.0,2175000,2020-02-04,10011,40.7465,-74.0094,1900-01-01,55-105
4,"48 w 86th st, unit 2",upper west side,manhattan,2.0,2.5,134.0,2499999.0,2333000,2020-01-06,10024,40.7859,-73.9742,1900-01-01,105-188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49854,"50 brighton 1st rd, unit 8b",brighton beach,brooklyn,NaN,NaN,105.0,NaN,435000,2020-12-15,11235,40.5860,-73.9419,NaT,55-105
49855,2831 brighton 4th st,brighton beach,brooklyn,8.0,NaN,105.0,NaN,800000,2020-12-22,11235,40.5860,-73.9419,1940-01-01,55-105
49856,2743 brighton 7th st.,brighton beach,brooklyn,8.0,4.0,105.0,NaN,940000,2020-12-09,11235,40.5860,-73.9419,1930-01-01,55-105
49857,"105 oceana dr e, unit 5h",brighton beach,brooklyn,2.0,2.0,32.0,975000.0,850000,2020-12-14,11235,40.5860,-73.9419,2002-01-01,<55
49858,"75 oceana dr e, unit 4g",brighton beach,brooklyn,NaN,NaN,105.0,NaN,795000,2020-12-23,11235,40.5860,-73.9419,2002-01-01,55-105

#### Add Categorical Encoding & Binary Values

In [27]:
# Convert type of columns to 'category'
df['dom_ranges'] = df['dom_ranges'].astype('category')

# Assigning numerical values and store in another column
df['dom_tier'] = df['dom_ranges'].cat.codes
df['dom_tier'].value_counts()

1    17301
0     9517
2     5086
3     2884
4      507
Name: dom_tier, dtype: int64

In [28]:
# Generate binary values using get_dummies for crime category
dum_df = pd.get_dummies(df, columns=["dom_tier"], prefix=["type_is"] )

# Merge with main df
housing_df = df.merge(dum_df)
housing_df

,address,neighborhood,borough,bed,bath,days_on_market,listed_price,sold_price,sold_date,zipcode,lat,long,year_built,dom_ranges,dom_tier,type_is_0,type_is_1,type_is_2,type_is_3,type_is_4
0,"219 w 14th st, unit 2f",chelsea,manhattan,1.0,2.0,75.0,1700000.0,1646000,2020-01-29,10011,40.7465,-74.0094,1900-01-01,55-105,1,0,1,0,0,0
1,"315 w 70th st, unit 6a",upper west side,manhattan,1.0,1.0,60.0,799000.0,799000,2020-01-16,10023,40.7769,-73.9801,1963-01-01,55-105,1,0,1,0,0,0
2,"306 w 100th st, unit 56",upper west side,manhattan,1.0,1.0,122.0,699000.0,670000,2020-02-03,10025,40.7999,-73.9683,1940-01-01,105-188,2,0,0,1,0,0
3,"38 w 9th st, unit 1",greenwich village,manhattan,2.0,3.5,72.0,2750000.0,2175000,2020-02-04,10011,40.7465,-74.0094,1900-01-01,55-105,1,0,1,0,0,0
4,"48 w 86th st, unit 2",upper west side,manhattan,2.0,2.5,134.0,2499999.0,2333000,2020-01-06,10024,40.7859,-73.9742,1900-01-01,105-188,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39306,"50 brighton 1st rd, unit 8b",brighton beach,brooklyn,NaN,NaN,105.0,NaN,435000,2020-12-15,11235,40.5860,-73.9419,NaT,55-105,1,0,1,0,0,0
39307,2831 brighton 4th st,brighton beach,brooklyn,8.0,NaN,105.0,NaN,800000,2020-12-22,11235,40.5860,-73.9419,1940-01-01,55-105,1,0,1,0,0,0
39308,2743 brighton 7th st.,brighton beach,brooklyn,8.0,4.0,105.0,NaN,940000,2020-12-09,11235,40.5860,-73.9419,1930-01-01,55-105,1,0,1,0,0,0
39309,"105 oceana dr e, unit 5h",brighton beach,brooklyn,2.0,2.0,32.0,975000.0,850000,2020-12-14,11235,40.5860,-73.9419,2002-01-01,<55,0,1,0,0,0,0
39310,"75 oceana dr e, unit 4g",brighton beach,brooklyn,NaN,NaN,105.0,NaN,795000,2020-12-23,11235,40.5860,-73.9419,2002-01-01,55-105,1,0,1,0,0,0

In [29]:
# Rename columns
housing_df.rename(columns={'type_is_0': 'dom_lowerbound', 'type_is_1': 'dom_iqr' , 'type_is_2': 'dom_upperbound', 'type_is_3': 'dom_extended', 'type_is_4': 'dom_outlier' }, inplace=True)

# Give header a name
housing_df.index.name = 'index'
final_length_rows = len(df)
final_length_columns = len(df.columns)
print(f'After cleaning the data there are {final_length_rows} records and {final_length_columns} fields.')

After cleaning the data there are 35295 records and 15 fields.

In [30]:
# Give header a name
housing_df.index.name = 'index'
len(df)

35295

In [31]:
housing_df

,address,neighborhood,borough,bed,bath,days_on_market,listed_price,sold_price,sold_date,zipcode,lat,long,year_built,dom_ranges,dom_tier,dom_lowerbound,dom_iqr,dom_upperbound,dom_extended,dom_outlier
index,,,,,,,,,,,,,,,,,,,,
0,"219 w 14th st, unit 2f",chelsea,manhattan,1.0,2.0,75.0,1700000.0,1646000,2020-01-29,10011,40.7465,-74.0094,1900-01-01,55-105,1,0,1,0,0,0
1,"315 w 70th st, unit 6a",upper west side,manhattan,1.0,1.0,60.0,799000.0,799000,2020-01-16,10023,40.7769,-73.9801,1963-01-01,55-105,1,0,1,0,0,0
2,"306 w 100th st, unit 56",upper west side,manhattan,1.0,1.0,122.0,699000.0,670000,2020-02-03,10025,40.7999,-73.9683,1940-01-01,105-188,2,0,0,1,0,0
3,"38 w 9th st, unit 1",greenwich village,manhattan,2.0,3.5,72.0,2750000.0,2175000,2020-02-04,10011,40.7465,-74.0094,1900-01-01,55-105,1,0,1,0,0,0
4,"48 w 86th st, unit 2",upper west side,manhattan,2.0,2.5,134.0,2499999.0,2333000,2020-01-06,10024,40.7859,-73.9742,1900-01-01,105-188,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39306,"50 brighton 1st rd, unit 8b",brighton beach,brooklyn,NaN,NaN,105.0,NaN,435000,2020-12-15,11235,40.5860,-73.9419,NaT,55-105,1,0,1,0,0,0
39307,2831 brighton 4th st,brighton beach,brooklyn,8.0,NaN,105.0,NaN,800000,2020-12-22,11235,40.5860,-73.9419,1940-01-01,55-105,1,0,1,0,0,0
39308,2743 brighton 7th st.,brighton beach,brooklyn,8.0,4.0,105.0,NaN,940000,2020-12-09,11235,40.5860,-73.9419,1930-01-01,55-105,1,0,1,0,0,0
39309,"105 oceana dr e, unit 5h",brighton beach,brooklyn,2.0,2.0,32.0,975000.0,850000,2020-12-14,11235,40.5860,-73.9419,2002-01-01,<55,0,1,0,0,0,0
39310,"75 oceana dr e, unit 4g",brighton beach,brooklyn,NaN,NaN,105.0,NaN,795000,2020-12-23,11235,40.5860,-73.9419,2002-01-01,55-105,1,0,1,0,0,0

#### Export Dataframe to CSV

In [32]:
# Export Clean DataFrame to CSV
housing_df.to_csv("output/re_data_clean.csv")